/* footer  */
footer{
    width: 100%;
    height: auto;
    margin-top: 20;
}

footer .ftlogo {
   float: left;
   margin-right: 70px;
}

.footerIn{
    width: 980px;
    height: 130px;
    margin: 0 auto;
    background: url(../images/footer_top_line.png) no-repeat;
    background-position: top;
}

.footerIn *{
    display: inline;
    font-size: 12px;

}

.companyft {
    display: block;
    padding-top: 27px;
}

.ceoft{
   display: block;

}

.Copy{
    display: block;
    padding-top: 0px;
}

.companyft li::after{
    content: " /";

}
.companyft li:last-child::after{
    content: "";
}

.ceoft li::after{
    content: " /";
}
.ceoft li:last-child:after{
    content: "";
}





/* copyright */
.Copy {
    text-align: justify;
    padding-left: 243px; 
    font-size: 12px; /* Font size */
    color: #777; /* Text color */
    font-weight: bold;
}
