@charset "UTF-8";

/*
-------------------------------------------------
-------------------------------------------------
Order Style Sheet
Version : 1.00
Author : 김민희
First update : 2024. 08. 18.
Last update : 2024. 00. 00.
-------------------------------------------------
-------------------------------------------------
*/

/* reset */
*{margin: 0; padding:0; font-family: "Inter", sans-serif; font-size: 12px; font-weight: 400;}
html{color:#111; position:relative;}
html, body{height:100%; }
body{font-size:12px; line-height:18px; font-family: 'Noto Sans KR', sans-serif;}
a, address, blockquote, br, fieldset, legend, label, form, input, select, textarea, button, cite, code, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, div, iframe, ul, ol, li, hr, img {margin: 0; padding: 0;}
a{color:#111; text-decoration: none;}
img{border:none; vertical-align: top;}
ul, ol{list-style:none;}
/* address{font-style: normal;}/// */

/* hyper link */
a, a:link, a:visited, a:active, a:hover{text-decoration: none; color: inherit;}

/* #wrapper ----------------------------------------------------------- */
#wrpper{width: 100%; height: auto; overflow: hidden; box-sizing: border-box; position: relative;}


/* #header 헤더 -------------------------------------------------------- */
#header{width: 100%; height: auto; position: relative; }
.headerIn{width: 980px;  margin:0 auto; overflow: hidden;}

.logo{}
.logo img{}

/* utill */
.utill{}
.utill li{}
.utill li a{} 
.utill li a p{text-indent: -9999px;} 

/* h_txt */
.h_txt{}
.h_txt img{}

/* gnb_wrap */
.gnb_wrap{}
.gnb_wrap .gnb{}
.gnb_wrap .gnb::after{display: block; content: ""; clear: both;}

.gnb_wrap .gnb li{}
.gnb_wrap .gnb li a{display: block; float: left;}
.gnb_wrap .gnb li a img{}

/* #main 메인 -------------------------------------------------------- */
#main{width: 100%; height: auto; position: relative; }
.mainIn{width: 980px;  margin:0 auto; overflow: hidden;}

.sub_bg{position: relative; height: 184px; background: url('../images/sub_top_bg.jpg') no-repeat center;}
.sub_bg .sub_tit{position: absolute; top: 137px; left: 10px; width: 186px; height: 37px;}

/* aside 영역 (왼쪽) -------------------------------------------------- */
.aside{position: relative; float: left; width: 178px; height: 1000px; background: #ccdeff;}
.aside_cate{position: absolute; top: 16px; left: 16px; width: 103px; height: 45px;}
.aside_bg{width: 176px; height: 650px; background: url('../images/sub_aside_bg_lnb.png') no-repeat 0% 81px;}

/* lnb */
.aside_bg .cate_lnb{}
.aside_bg .cate_lnb li{} 
.aside_bg .cate_lnb li a{position: absolute; left: 0; top:107px; text-indent: -9999px; display: block; width: 175px; height: 29px; background: url('../images/sub_cate2_lnb1_ov.png') no-repeat; }




/* article 영역 (오른쪽)  ---------------------------------------------- */
.article{position: relative; float:left; width: 802px; height: 1000px; background: #fffadd;}
.article .nav_tit{ position: absolute; width: 69px; height: 24px; top: 43px; left:40px;}
.article .nav_tit:after{display: block; content: ""; clear: both; width: 762px; height: 1px; background: #c2c2c2; margin-top: 5px;}

.article .nav_tit img{}
 

/* location */
.location{float:right; margin-top:51px; height: 17px;
    background: url('../images/sub_page_nav_ico.gif') no-repeat; margin-left: 15px;
    font-family: Inter; font-size: 12px; font-weight: 400; line-height: 14.52px; text-align: left;}
.location span{color:#0a0101;}
.location span:after{display: inline-block; content: ">" ; clear: both;}
.location strong{color:#91BA15;}


/* footer 푸터 -------------------------------------------------------- */
#footer{width:100%; height: auto;  position: relative;}
.footerIn{width: 980px; margin:0 auto; height: 500px; background: #ffddf4;} 
.fcopy{}
